# Rust
/target
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# 测试输出
dev/test_data/

# 临时文件
*.tmp
*.bak
*.log

# 编译wasm输出
pkg*
.VSCodeCounter/

# node脚本
node_modules/
package*json
